[packages]
fastapi = "==0.68.1"
uvicorn = "==0.15.0"
asyncpg = "*"
prometheus-fastapi-instrumentator = "*"
aiofiles = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version ="3.7"

[scripts]
start = "uvicorn asgi:app --reload"
